@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
/* Header start */
header{
    background-color: rgb(247, 241, 241);
    padding: 0 100px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.container img{
    width: 100px;
}

.container ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 48px;
    height: 100%;
}
.container ul li a{
    text-decoration: none;
    font-weight: 600;
    height: 15vh;
    padding: 6vh 1vh;
    color: #392d2f;
}
.container ul li a:hover{
    color: #392d2f7f;
}
/* Header end */

/* bg-donate start */
.aside{
    background: linear-gradient(#441e24a9, #392d2fd5),
     url("../img/img-donate/background-donate.png");
    background-size: cover;
    background-position:  center;
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
    padding-left: 100px;

}
.aside h1{
    font-size: 88px;
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: italic;
    color: rgba(202, 180, 180, 0.753);

}
/* bg-donate end */

/* coffee-donate start */
main{
    /* background: goldenrod; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    gap: 40px;
}
.coffee-donate{
     line-height: 1.6;
}
.coffee-donate .top{
    margin-top: 0px;
    color: #cca22d;
}
.coffee-donate h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
}
.coffee-donate p{
    margin: 24px 0px;
    width: 500px;
    font-weight: 400;
    font-size: 1rem;
    color: #555;
}
.coffee-donate img{
    width: 500px;
    height: 300px;
    border-top-right-radius: 48px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    
}

.coffee-amount{
    background-color: #ecbac2;
}

/* coffee-donate end */

